<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>モールス信号クイズ</title>
  </head>
  <body>
    <h1>モールス信号クイズ</h1>
    <button>スタート</button>
    <button onclick="loadQuestion()">次の問題</button>
    <div id="question"></div>
    <input id="answer" />
    <!-- TODO: 今後、addEventListenerに置き換えの可能性あり -->
    <button onclick="submitAnswer()">回答</button>
    <div id="result"></div>
    <script src="/static/script.js"></script>
  </body>
</html>
