<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>モールス信号クイズ</title>
  </head>
  <body>
    <h1>モールス信号クイズ</h1>
    <div id="questionCountContainer" class="question_count_container">
      第<span id="questionCount">0</span>問 (全<span id="totalCount">0</span>問)
    </div>
    <div>正解数: <span id="correctCount">0</span></div>
    <button id="questionButton" onclick="setPlayingMode()">スタート</button>
    <div id="question"></div>
    <div class="question_set">
      <input id="answer" onkeydown="setResultMode()" />
      <button id="ansButton">回答</button>
    </div>
    <div id="result"></div>
    <script src="/static/script.js"></script>
  </body>
</html>
